ETag headers being sent when it is not appropriate

RFC 2616 section 10.2.2 (http://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.2.2)

> A 201 response MAY contain an ETag response header field indicating the current value of the entity tag for the requested variant just created, see section 14.19.

When I came across this, I realized that I am sending an `ETag` response header for all responses.  However, an `ETag` would only be appropriate for responses that are cachable.  According to this, it also seems an `ETag` can accompany a `Location` header when a resource is created.

I don't yet understand why this would be useful.  What good would knowing the `ETag` be if you don't have a copy of the entity that was created?  Perhaps the cache will store the request entity instead of the response entity.  If this is the case, it would only be appropriate to send an `ETag` if the request entity is exactly the entity that is stored.  This should be the case for a `PUT`, but is not necessarily the case for a `POST`.
